.wysiwyg-group {
    color: var(--ita-color-grey-dark-300);
    line-height: 1.6em;
}
.wysiwyg-group > :first-child {
    margin-top: 0;
}
.wysiwyg-group > :last-child {
    margin-bottom: 0;
}
.wysiwyg-group h1,
.wysiwyg-group h2 {
    color: var(--ita-color-grey-dark-900);
}
.wysiwyg-group h1 {
    font-family: var(--ita-font-family-lead-600);
    font-size: var(--ita-font-size-11);
    font-weight: 600;
    line-height: 1.3em;
}
.wysiwyg-group h2 {
    font-family: var(--ita-font-family-lead-600);
    font-size: var(--ita-font-size-9);
    font-weight: 600;
    line-height: 1.3em;
}
.wysiwyg-group h3 {
    font-family: var(--ita-font-family-lead-600);
    font-size: var(--ita-font-size-6);
    font-weight: 600;
}
.wysiwyg-group h4 {
    font-family: var(--ita-font-family-lead-500);
    font-size: var(--ita-font-size-6);
    color: var(--ita-color-grey-dark-900);
    font-weight: 500;
}
.wysiwyg-group h5 {
    font-family: var(--ita-font-family-lead-500);
    font-size: var(--ita-font-size-5);
    font-weight: 500;
}
.wysiwyg-group h6 {
    font-family: var(--ita-font-family-lead-500);
    font-size: var(--ita-font-size-4);
    font-weight: 500;
}
.wysiwyg-group img {
    width: 100%;
    height: auto;
}
.wysiwyg-group a {
    color: var(--ita-color-blue-600);
}

.wysiwyg-group strong,
.wysiwyg-group b {
    font-family: var(--ita-font-family-lead-600);
    color: var(--ita-wysiwyg-tag-strong-color);
}

.wysiwyg-group ul,
.wysiwyg-group ol {
    display: flex;
    flex-direction: column;
    gap: var(--ita-spacing-3);
}

@media screen and (max-width: 960px) {
    .wysiwyg-group h1 {
        font-family: var(--ita-font-family-lead-600);
        font-size: var(--ita-font-size-9);
        font-weight: 600;
        line-height: 1.3em;
    }
    .wysiwyg-group h2 {
        font-family: var(--ita-font-family-lead-600);
        font-size: var(--ita-font-size-7);
        font-weight: 600;
        line-height: 1.3em;
    }
}
